// Main Stylesheet for GardenBuddy

body {
	background-color: #E5E4D7;
	font-family: sans-serif;
}

h1 {
	color: #336600;
	text-shadow: 2px 2px 2px #ccc;
	text-align: center;
	font-family: sans-serif;
}

h2 {
	color: #336600;
	text-shadow: 2px 2px 2px #ccc;
	text-align: center;
	font-family: sans-serif;
}

section {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

footer {
	text-align: right;
	font-family: sans-serif;
	font-size: 10px;
	color: #336600;
}
